body {
    margin: 0;
    background-color: var(--orange);
        display: flex;
        flex-direction: column;
        align-items: center;
    
}


h2 {
    font-size: 3em;
    color:white;
    font-weight: 400;
}

input {
    padding: 18px;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: var(--white);
    box-sizing: border-box;
    border: none;
}

input[type="submit"] {
    /* padding: 18px; */
    /* font-size: 20px; */
    /* border-radius: 10px; */
    background-color: var(--dark-green);
    color: white;
    width: 100%;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    gap: 10px;
    background-color: var(--green);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    align-items: center;
}

.grotebox {
    display: flex;
    margin-top: 10vh;
    gap: 60px;
    flex-direction: column;
    align-items: center;
    width: 19%;
}

.box2 p{
    color: white;
}

.box2 a{
    color:blue;
}

form div {
    display: flex;
    gap: 10px;
}

.text {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}